:root{
    --primary-font-family:'Roboto', sans-serif;
    --secondary-font-family:'Raleway', sans-serif;
    --accent-color: #2196F3;
    --main-letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul, 
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
body{
    font-family: var(--primary-font-family);

    letter-spacing: var(--main-letter-spacing);
}
/* ############### HEADER ################# */
.page-header{
    border-bottom: 1px solid #ECECEC;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
}
.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    margin-right: 95px;
}
.part-logo {
    color: var(--accent-color);
}
.menu-item:not(:last-child){
    margin-right: 50px;
}

.menu-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}

.menu-contact{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.phone-number{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    margin-left: 30px;
}

.phone-number:hover,
.phone-number:focus{
    color: var(--accent-color);
}

.header-contact-icon{
    margin-right: 10px;
    fill: currentColor;
}

.email-address{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.email-address:hover,
.email-address:focus{
    color: var(--accent-color);
} 
.current {
    color: var(--accent-color);
}
/* ################## /HEADER ################ */
/* ############### HERO ################## */
 .hero {
     padding-top: 0;
     padding-bottom: 0;
    text-align: center;
    /* max-width: 1600px;
        margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center; */
}  
 .hero-container{
    max-width: 1600px;
        margin: 0 auto;
        padding-top: 200px;
        padding-bottom: 200px;
    
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
 }    

.modal-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 8px 30px;
}
.modal-btn:hover,
.modal-btn:focus{
    background: #188CE8;
}
.hero-title{
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

/* ################ /HERO ################# */
/* ########### PECULARITIES ############# */
.pecularities-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.pecularities-link{
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;

}
.pecularities-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
    
}
.suptitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}
.pecularities-icon-section{
    display: block;
    width: 260px;
    height: 120px;
    background-color: #F5F4FA;
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
}
.pecularities-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ########### /PECULARITIES ############## */
/* ########### WHAT WE ARE DOING ########### */
.our-occupation{
    padding-top: 0;
}
.our-occupation-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.works-item{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.our-occupation-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}
/* ########### /WHAT WE ARE DOING ########## */
/* ############ OUR TEAM ############### */
.our-team-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.our-team-item{
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.our-team{
    background-color: #F5F4FA;
}
.our-team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}
.our-team-info{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #212121;
    /* padding-top: 30px;
    padding-bottom: 30px; */
}
.team-profession{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #757575;
    margin-top: 4px;
    margin-bottom: 16px;
    /* padding-bottom: 30px; */
}
.social-list{
    display: flex;
    justify-content: center;
}
.social-list-icon{
    fill: #AFB1B8;
    
}
.social-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    /* background-color: #FFFFFF; */
}
.social-list-item:not(:last-child){
    margin-right: 10px;
}
.social-list-link:hover,
.social-list-link:focus{
    background-color: #2196F3;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
    fill: #FFFFFF;
}

/* ######## /OUR TEAM ######### */
/* ############ OUR WORKS ############## */
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.portfolio-item{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    
}
.portfolio-item:hover,
.portfolio-item:focus{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
            0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio-card-info{
    padding: 20px 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.btn-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn-item:not(:last-child){
    margin-right: 8px;
}
    
.cards-title{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    
}
.cards-suptitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}
/* ########### /OUR WORKS ############ */
/* ########### CLIENTS ############# */
.clients-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.clients-list{
    display: flex;
    justify-content: center;
}
.clients-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid;
    border-radius: 4px;
    color: #AFB1B8;
}
.clients-list-icon{
    fill: currentColor;
}
.clients-list-link:focus,
.clients-list-link:hover{
    color: var(--accent-color);
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}
/* ########### /CLIENTS ############# */
/* ########### FILTERS ########## */
.filters-btn-active{
    color: var(--accent-color);
}
.filters-btn{
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: #212121;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
}
.filters-btn-active,
.filters-btn:hover,
.filters-btn:focus{
    background-color: var(--accent-color);
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* ########### /FILTERS ########### */
/*##############FOOTER############*/
.address{
    font-style: normal;
}
.footer-item:not(:last-child){
    margin-bottom: 9px;
    /* padding-bottom: 60px; */
}
.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-container{
    display: flex;
    align-items: baseline;
}
.logo-footer{
    display: inline-block;

    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
    /* padding-top: 60px; */
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
}
.footer-logo-contact{
    margin-right: 70px;
}
.footer-contact{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}
.footer-map{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}
.footer-contact:hover,
.footer-contact:focus{
    color: var(--accent-color);
}
.footer-map:hover,
.footer-map:focus {
    color: var(--accent-color);
}
.join-title{
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-icon-list{
    display: flex;
}
.footer-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-list-link:hover,
.footer-list-link:focus{
    background-color: var(--accent-color);
    color: #FFFFFF;
}
.footer-list-icon{
    fill: currentColor;
}
.footer-list-item:not(:last-child) {
    margin-right: 10px;
}
/*#############/FOOTER############*/