.works {
    padding-top: 0;
}
.works__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.works__item {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}
.works__overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
}
.works__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}